#logIn{
    margin:auto;
    background-color:white;
    text-align: center;
    width: 300px;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    display: none;
    border-radius: 7px;
    z-index: 25;

    animation-name: fadeIn;
    animation-duration: 0.45s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#logIn a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:gray;
    font-size:0.85em;
    margin:16px 0;
}

#logIn h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5B305C;
    color:white;
    font-size: 1.5em;
    font-weight:400;
    padding:7px;
    margin:0;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.form{
    padding:8px 12px;
    border-radius:15px;
    width:200px;
    margin:5px;
    border: 1px solid lightgray;
    font-size: 0.8em;
}

.logInButton:first-of-type{
    margin-top:15px;
}

.logInButton{
    padding:8px 12px;
    font-size: 0.9em;
    padding:8px 12px;
    margin-bottom:8px;
    border-radius:15px;
    width:250px;
    border:none;
}

#closeButtonLogin{
    background-color:white;
    color:darkred;
    border-radius:50%;
    display:inline-block;
    width:25px;
    height:25px;
    font-size: 0.75em;
    position: absolute;
    right: -4px;
    top: -4px;
}

#closeButtonLogin:hover{
    cursor: pointer;
}


.login-help{
    margin-bottom: 12px;
}
#blackBackground{
    display: none;
    background-color: rgba(0,0, 0, 0.6);
    position: fixed;
    z-index: 20;
    animation-name: fadeIn;
    animation-duration: 0.45s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}



