#logIn{
    margin:auto;
    background-color:white;
    text-align: center;
    width: 300px;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    display: none;
    z-index: 1;
    border-radius: 7px;
}

#logIn h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5B305C;
    color:white;
    font-size: 1.5em;
    font-weight:400;
    padding:7px;
    margin:0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    
}

.form{
    padding:8px 12px;
    border-radius:15px;
    width:200px;
    margin:5px;
    border: 1px solid lightgray;
    font-size: 0.8em;
}

.logInButton:first-of-type{
    margin-top:15px;
}

.logInButton{
    padding:8px 12px;
    font-size: 0.9em;
    padding:8px 12px;
    margin-bottom:8px;
    border-radius:15px;
    width:250px;
    border:none;
}

#closeButtonLogin{
    background-color:white;
    color:darkred;
    border-radius:50%;
    display:inline-block;
    width:25px;
    height:25px;
    font-size: 0.8em;
    position: absolute;
    right: 2.3px;
    top: 1px

}

#closeButtonLogin:hover{
    border:2px solid darkred;
    cursor: pointer;
}


.login-help{
    margin-bottom: 12px;
}
#blackBackground{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.6);
    position: absolute;
    z-index: 1;
}



