#register{
    margin:auto;
    background-color:white;
    text-align: center;
    width: 300px;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    margin-top:20px;
    display: none;
    z-index: 1;
}

#register h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5B305C;
    color:white;
    font-size: 1.5em;
    font-weight:400;
    padding:7px;
    margin:0;
}

#register p{
    text-align: left;
    font-style:italic;
    margin-left:45px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#closeButtonRegister{
    background-color:white;
    color:darkred;
    border-radius:50%;
    display:inline-block;
    width:25px;
    height:25px;
    font-size: 0.8em;
    position: absolute;
    right: 2.3px;
    top: 1px

}

#closeButtonRegister:hover{
    border:2px solid darkred;
    cursor: pointer;
}
