#register{
    margin:auto;
    background-color:white;
    text-align: center;
    width: 300px;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    margin-top:20px;
    display: none;
    z-index: 25;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -144px;
    border-radius: 7px;
    animation-name: fadeIn;
    animation-duration: 0.45s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#register h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5B305C;
    color:white;
    font-size: 1.5em;
    font-weight:400;
    padding:7px;
    margin:0;
    box-shadow: 0px 20px 30px -19px rgba(0,0,0,0.22);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#register p{
    text-align: left;
    font-style:italic;
    margin-left:45px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#closeButtonRegister{
    background-color:white;
    color:darkred;
    border-radius:50%;
    display:inline-block;
    width:25px;
    height:25px;
    font-size: 0.75em;
    position: absolute;
    right: -4px;
    top: -4px;
}

#closeButtonRegister:hover{
    cursor: pointer;
}
